*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f3f2ef;
}


.nav-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 30px;
    background:#fff;
    border-bottom:1px solid #ccc;
    position:sticky;
    top:0;
    z-index:100;
}

.navbar-left{
    display:flex;
    align-items:center;
    gap:15px;
}

.navbar-left img{
    width:45px;
    height:45px;
    border-radius:50%;
    object-fit:cover;
}

.search-box{
    display:flex;
    align-items:center;
    background:#eee;
    padding:5px 10px;
    border-radius:20px;
  
}

.search-box img{
    width:20px;
}

.search-box input{
    border:none;
    background:transparent;
    outline:none;
    padding:5px;

}

.navbar-centre ul{
    display:flex;
    gap:25px;
    list-style:none;
}

.navbar-centre ul li a{
    text-decoration:none;
    color:#333;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:14px;
}

.navbar-centre img{
    width:30px;
    margin-bottom:5px;
}

.nav-profile-img{
    width:50px;
    height:50px;
    border-radius:50%;
    object-fit:cover;
}


.container{
    display:flex;
    width:95%;
    margin:20px auto;
    gap:20px;
}


.left-sidebar{
    width:25%;
}

.sidebar-profile-box{
    background:#fff;
    border-radius:10px;
    overflow:hidden;
    padding-bottom:20px;
}

.cover-img{
    width:100%;
    height:80px;
    object-fit:cover;
}

.profile-img{
    width:90px;
    height:90px;
    border-radius:50%;
    margin-top:-45px;
    border:3px solid #fff;
    margin-left:20px;
}

.sidebar-profile-info{
    padding:20px;
}

.sidebar-profile-info h1{
    font-size:22px;
}

.sidebar-profile-info h3{
    font-size:15px;
    color:gray;
}

.sidebar-profile-info ul{
    list-style:none;
    margin-top:15px;
}

.sidebar-profile-info ul li{
    display:flex;
    justify-content:space-between;
    padding:5px 0;
    font-size:14px;
}

.sidebar-profile-link{
    border-top:1px solid #ccc;
    padding-top:10px;
}

.sidebar-profile-link a{
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px 20px;
    text-decoration:none;
    color:#333;
    font-size:15px;
}

.sidebar-profile-link img{
    width:20px;
}


.main-content{
    width:50%;
}

.create-post{
    background:#fff;
    padding:20px;
    border-radius:10px;
}

.create-post-input{
    display:flex;
    gap:15px;
    margin-bottom:10px;
}

.create-post-img{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
}

.post-textarea{
    
    height:80px;
    border-radius:10px;
    padding:10px;
    border:1px solid #ccc;
    outline:none;
}

.post-btn{
    background:#0a66c2;
    color:#fff;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}


.right-sidebar{
    width:25%;
}

.sidebar-news{
    background:#fff;
    padding:20px;
    border-radius:10px;
}

.sidebar-news h3{
    margin-bottom:15px;
    font-size:18px;
}

.sidebar-news a{
    display:block;
    margin-top:10px;
    color:#0a66c2;
    text-decoration:none;
    font-size:14px;
}

.sidebar-news span{
    display:block;
    margin-bottom:10px;
    color:#555;
    font-size:12px;
}

.info-icon{
    width:20px;
    float:right;
}
.sidebar-ad{ background: #fff; padding:15px 25px; color:black; text-align: center; margin:12px 0; font-size: 12px; } .sidebar-ad img{ width:60px; border-radius: 50%; margin:4px; }
.create-post-link{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.create-post-link li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
}

.create-post-link li img{
    width: 30px;
}

.sort-by{
    margin-top: 10px 0;
    display: flex;
    align-items: center;


}
.sort-by hr{
    flex:1;
    border:0;
    height:1px;
    background-color:#ccc;

}


.sort-by p{
    font-size: 14px;
    color: #555;
}

.sort-by span{
    font-weight: bold;
    cursor: pointer;
}
.post{
    background: #fff;
    padding: 20px 25px 5px;
    margin:5px 0 15px;
}
.post-author{
   display:flex;
    align-items: flex-start;
    margin-bottom: 20px;

}

 
.post-author img{
    width:35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;

}
.post-author h1{
    font-size: 18px;
    font-weight: 600;
    color:#333
}
.post-author small{
    display:block;
    margin-bottom: -2px;

}
.post p{
    font-size: 14px;
    margin-bottom: 15px;

}
.post-stats{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid #ccc;

    padding-bottom: 6px;

}
.post-activity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;

}
.post-activity div{
    display: flex;
    align-items: center;
}

.post-activity-user-icon{
    width:22px;
    border-radius: 50%;
}
.post-activity-arrow-icon{
    width:12px;
    margin-left:5px;
}
.left-sidebar{
    position: sticky;
    top:73px
}
.right-sidebar{
    position: sticky;
    top:73px;

}

